<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BuscarProducto</servlet-name>
        <servlet-class>controlador.BuscarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaProductos</servlet-name>
        <servlet-class>controlador.AltaProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarProducto</servlet-name>
        <servlet-class>controlador.ModificarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>controlador.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>controlador.Sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuario</servlet-name>
        <servlet-class>controlador.RegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuario</servlet-name>
        <servlet-class>controlador.ModificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categorias</servlet-name>
        <servlet-class>controlador.Categorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categoria</servlet-name>
        <servlet-class>controlador.Categoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarUsuarios</servlet-name>
        <servlet-class>controlador.BuscarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarInicio</servlet-name>
        <servlet-class>controlador.ModificarInicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>controlador.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Descuento</servlet-name>
        <servlet-class>controlador.Descuento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscarProducto</servlet-name>
        <url-pattern>/BuscarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaProductos</servlet-name>
        <url-pattern>/AltaProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProducto</servlet-name>
        <url-pattern>/ModificarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuario</servlet-name>
        <url-pattern>/RegistroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuario</servlet-name>
        <url-pattern>/ModificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categorias</servlet-name>
        <url-pattern>/Categorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categoria</servlet-name>
        <url-pattern>/Categoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarUsuarios</servlet-name>
        <url-pattern>/BuscarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarInicio</servlet-name>
        <url-pattern>/ModificarInicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Descuento</servlet-name>
        <url-pattern>/Descuento</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
